.global {
  margin: 0;
  background-color: skyblue;
  text-align: center;
}
button {
  cursor: pointer;
}
.colorButton {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 0.5px solid gray;
  margin: 5px;
}
input:focus {
  outline: none;
}
